@tailwind base;
@tailwind components;
@tailwind utilities;

.backGroundImage{
    background-image: url("./images/backgorund_center.png");
}

.burguerMenu{
    position: relative;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.burguerMenu div{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.burguerMenu div:first-child{
    transform: translate(-50%, -300%);
}

.burguerMenu div:last-child{
    transform: translate(-50%, 200%);
}

.crossMenu{
    position: relative;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
.crossMenu div{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0.3s;
}

.crossMenu div:last-child{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.desployMenu{
    width: 100%;
    background-color: #410756;
    
    overflow: hidden;
    position: absolute;
    z-index: 10;

    height: 0%;
    animation-name: contract;
    animation-duration: 1s;
    transition: 1s;
}
.desployedMenu{
    background-color: #410756;
    width: 100%;
    overflow: hidden;
    position: absolute;
    animation-name: desployed;
    animation-duration: 0.5s;
    z-index: 10;
    height: 100%;
}


@keyframes contract {
    from {height: 100%}
    to {height: 0;}
    }

@keyframes desployed {
    from {height: 0;}
    to {height: 100%;}
  }


  .background-complete{
    background-image: url("./images/background.png");
  }